<div ng-controller="investmentCostsCtrl">
    <div class="row" style="margin:20px 0">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item"><a href="" ng-click="showMe(0)">项目总收入预算</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(1)">分包预算</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(2)">合同</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(3)">运维分包</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(4)">项目直接费用预算</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(5)">部门费用分摊</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(6)">项目预计毛利</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(7)">期间费用分摊</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(8)">项目预计净利</a></li>
            </ul>
            <div class="row">
                <button class="btn btn-primary" ng-click="back()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;返回</button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row" ng-show="show[0]">
                <table class="table table-bordered">
                    <tr>
                        <th>其它</th>
                        <th>年发电量(KWH)</th>
                        <th>产值（含税）(元)</th>
                        <th>产值（不含税）(元)</th>
                        <th>年补贴（含税）（元）</th>
                        <th>年补贴（不含税）（元）</th>
                        <th>年收入（含税）（元）</th>
                        <th>年收入（不含税）（元）</th>
                    </tr>
                    <tr>
                        <th>年平均</th>
                        <th>{{data1.CC}}</th>
                        <th>{{data1.CK}}</th>
                        <th>{{data1.CM}}</th>
                        <th>{{data1.CO}}</th>
                        <th>{{data1.CQ}}</th>
                        <th>{{data1.CS}}</th>
                        <th>{{data1.CU}}</th>
                    </tr>
                    <tr>
                        <th>总计</th>
                        <th>{{data1.CB}}</th>
                        <th>{{data1.CJ}}</th>
                        <th>{{data1.CL}}</th>
                        <th>{{data1.CN}}</th>
                        <th>{{data1.CP}}</th>
                        <th>{{data1.CR}}</th>
                        <th>{{data1.CT}}</th>
                    </tr>
                </table>
                <p>小计：{{data1.CV}}</p>
                <button class="btn btn-success">
                    查看详细 &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>

            <div class="row" style="margin-top:20px" ng-show="show[1]">
                <table class="table table-bordered">
                    <tr>
                        <th>序号</th>
                        <th>内容</th>
                        <th>单价（元/W）</th>
                        <th>含税成本（元）</th>
                        <th>不含税成本（元）</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>设备费</th>
                        <th>{{data2.DA}}</th>
                        <th>{{data2.DF}}</th>
                        <th>{{data2.DK}}</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>设计费</th>
                        <th>{{data2.DB}}</th>
                        <th>{{data2.DG}}</th>
                        <th>{{data2.DL}}</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>建安费</th>
                        <th>{{data2.DC}}</th>
                        <th>{{data2.DH}}</th>
                        <th>{{data2.DM}}</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>监理费</th>
                        <th>{{data2.DD}}</th>
                        <th>{{data2.DI}}</th>
                        <th>{{data2.DN}}</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>税金及其他费</th>
                        <th>{{data2.DE}}</th>
                        <th>{{data2.DJ}}</th>
                        <th>{{data2.DO}}</th>
                    </tr>
                    <tr>
                        <th colspan="2">总计</th>
                        <th>{{data2.DP}}</th>
                        <th>{{data2.DQ}}</th>
                        <th>{{data2.DR}}</th>
                    </tr>
                </table>
                <p>小计(元)：{{data2.DS}}</p>
            </div>

            <div class="row" ng-show="show[2]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>合同毛利:</label>
                        <p class="form-control-static">{{data3.EA}}</p>
                    </div>
                    <div class="form-group">
                        <label>合同毛利率:</label>
                        <p class="form-control-static">{{data3.EB}}</p>
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[3]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>运维单价（元/W）:</label>
                        <p class="form-control-static">{{data4.FB}}</p>
                    </div>
                    <div class="form-group">
                        <label>运维总价（元）:</label>
                        <p class="form-control-static">{{data4.FB}}</p>
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[4]">
                <table class="table table-bordered">
                    <tr>
                        <th>序号</th>
                        <th>内容</th>
                        <th>建造期</th>
                        <th>分享期</th>
                        <th>小计</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>项目人工成本</th>
                        <th>{{data5.GE}}</th>
                        <th>{{data5.GK}}</th>
                        <th>{{data5.S1}}</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>差旅费</th>
                        <th>{{data5.GF}}</th>
                        <th>{{data5.GO}}</th>
                        <th>{{data5.S2}}</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>业务活动费</th>
                        <th>{{data5.GG}}</th>
                        <th>{{data5.GP}}</th>
                        <th>{{data5.S3}}</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>利息</th>
                        <th>{{data5.GH}}</th>
                        <th>{{data5.GL}}</th>
                        <th>{{data5.S4}}</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>专家外协咨询</th>
                        <th>{{data5.GI}}</th>
                        <th>{{data5.GQ}}</th>
                        <th>{{data5.S5}}</th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <th>其它</th>
                        <th>{{data5.GR}}</th>
                        <th>{{data5.GS}}</th>
                        <th>{{data5.S6}}</th>
                    </tr>
                    <tr>
                        <th colspan="2">总计</th>
                        <th>{{data5.GJ}}</th>
                        <th>{{data5.GM}}</th>
                        <th>{{data5.GN}}</th>
                    </tr>
                </table>
                <p>小计：{{data5.GN}}</p>
            </div>

            <div class="row" ng-show="show[5]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>建造期费用:</label>
                        <p class="form-control-static">{{data6.HB}}</p>
                    </div>
                    <div class="form-group">
                        <label>分享期费用:</label>
                        <p class="form-control-static">{{data6.HC}}</p>
                    </div>
                </form>
                <p>小计：{{data6.HD}}</p>
            </div>

            <div class="row" ng-show="show[6]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>预计毛利:</label>
                        <p class="form-control-static">{{data7.IA}}</p>
                    </div>
                    <div class="form-group">
                        <label>预计毛利率:</label>
                        <p class="form-control-static">{{data7.IB}}</p>
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[7]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>分摊率:</label>
                        <p class="form-control-static">{{data8.JA}}</p>
                    </div>
                    <div class="form-group">
                        <label>小计:</label>
                        <p class="form-control-static">{{data8.JB}}</p>
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[8]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>预计净利润:</label>
                        <p class="form-control-static">{{data9.KA}}</p>
                    </div>
                    <div class="form-group">
                        <label>预计净利润率:</label>
                        <p class="form-control-static">{{data9.KB}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>