<div ng-controller="investmentCostsCtrl">
    <div class="row" style="margin:20px 0">
        <div class="col-md-2">
            <ul class="list-group">
                <li class="list-group-item"><a href="" ng-click="showMe(0)">项目总收入预算</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(1)">分包预算</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(2)">合同</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(3)">运维分包</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(4)">项目直接费用预算</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(5)">部门费用分摊</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(6)">项目预计毛利</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(7)">期间费用分摊</a></li>
                <li class="list-group-item"><a href="" ng-click="showMe(8)">项目预计净利</a></li>
            </ul>
        </div>
        <div class="col-md-10">

            <div class="row" ng-show="show[0]">
                <table class="table table-bordered">
                    <tr>
                        <th>其它</th>
                        <th>年发电量(KWH)</th>
                        <th>产值（含税）(元)</th>
                        <th>产值（不含税）(元)</th>
                        <th>年补贴（含税）（元）</th>
                        <th>年补贴（不含税）（元）</th>
                        <th>年收入（含税）（元）</th>
                        <th>年收入（不含税）（元）</th>
                    </tr>
                    <tr>
                        <th>年平均</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>总计</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
                <button class="btn btn-success">
                    查看详细 &nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
            </div>

            <div class="row" style="margin-top:20px" ng-show="show[1]">
                <table class="table table-bordered">
                    <tr>
                        <th>序号</th>
                        <th>内容</th>
                        <th>单价（元/W）</th>
                        <th>含税成本（元）</th>
                        <th>不含税成本（元）</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>设备费</th>
                        <th>{{data2.DA}}</th>
                        <th>{{data2.DF}}</th>
                        <th>{{data2.DK}}</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>设计费</th>
                        <th>{{data2.DB}}</th>
                        <th>{{data2.DG}}</th>
                        <th>{{data2.DL}}</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>建安费</th>
                        <th>{{data2.DC}}</th>
                        <th>{{data2.DH}}</th>
                        <th>{{data2.DM}}</th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>监理费</th>
                        <th>{{data2.DD}}</th>
                        <th>{{data2.DI}}</th>
                        <th>{{data2.DN}}</th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>税金及其他费</th>
                        <th>{{data2.DE}}</th>
                        <th>{{data2.DJ}}</th>
                        <th>{{data2.DO}}</th>
                    </tr>
                    <tr>
                        <th colspan="2">总计</th>
                        <th>{{data2.DP}}</th>
                        <th>{{data2.DQ}}</th>
                        <th>{{data2.DR}}</th>
                    </tr>
                </table>
            </div>

            <div class="row" ng-show="show[2]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>合同毛利:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>合同毛利率:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[3]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>运维单价:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>运维总价:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[4]">
                <table class="table table-bordered">
                    <tr>
                        <th>序号</th>
                        <th>内容</th>
                        <th>备注</th>
                        <th>建造期</th>
                        <th>分享期</th>
                        <th>小计</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>项目人工成本</th>
                        <th>工本率：</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>差旅费</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>业务活动费</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>4</th>
                        <th>利息</th>
                        <th>利率：<br>贷款比例：<br>贷款年限：</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>5</th>
                        <th>专家外协咨询</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>6</th>
                        <th>其它</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>总计</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
            </div>

            <div class="row" ng-show="show[5]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>建造期费用:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>分享期费用:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[6]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>预计毛利:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>预计毛利率:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[7]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>分摊率:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>小计:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>

            <div class="row" ng-show="show[8]">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <label>预计净利润:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>预计净利润率:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>

            <div class="row">
                <button class="btn btn-primary" ng-click="back()">返回</button>
            </div>
        </div>
    </div>
</div>