<div ng-controller="parametersCtrl">
    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">请填写下面的参数</h3>
                </div>
                <!--<div class="panel-body">-->
                    <table class="table table-bordered">
                        <tr>
                            <td>设备费单价（元/W）</td>
                            <td><input type="text" ng-model="parameters.DA"></td>
                            <td>建安费单价（元/W）</td>
                            <td><input type="text" ng-model="parameters.DC"></td>
                            <td>设计费单价（元/W）</td>
                            <td><input type="text" ng-model="parameters.DB"></td>
                        </tr>
                        <tr>
                            <td>监理费单价（元/W）</td>
                            <td><input type="text" ng-model="parameters.DD"></td>
                            <td>分包税金及其他费（元/W）</td>
                            <td><input type="text" ng-model="parameters.DE"></td>
                            <td>综合利率(百分比）</td>
                            <td><input type="text" ng-model="parameters.LC"></td>
                        </tr>
                        <tr>
                            <td>电站年限(年）</td>
                            <td><input type="text" ng-model="parameters.BB"></td>
                            <td>建设期（月）</td>
                            <td><input type="text" ng-model="parameters.BD"></td>
                            <td>结算周期(月)</td>
                            <td><input type="text" ng-model="parameters.BC"></td>
                        </tr>
                        <tr>
                            <td>结算期数</td>
                            <td><input type="text" ng-model="parameters.BE"></td>
                            <td>地方电价(元/KWH)</td>
                            <td><input type="text" ng-model="parameters.AA"></td>
                            <td>分享比例</td>
                            <td><input type="text" ng-model="parameters.AE"></td>
                        </tr>
                        <tr>
                            <td>上网电价(元/KWH)</td>
                            <td><input type="text" ng-model="parameters.AB"></td>
                            <td>自用比例</td>
                            <td><input type="text" ng-model="parameters.AF"></td>
                            <td>补贴电价1(元/KWH)</td>
                            <td><input type="text" ng-model="parameters.AC"></td>
                        </tr>
                        <tr>
                            <td>补贴1年限（年）</td>
                            <td><input type="text" ng-model="parameters.AG"></td>
                            <td>补贴电价2(元/KWH)</td>
                            <td><input type="text" ng-model="parameters.AD"></td>
                            <td>补贴2年限（年）</td>
                            <td><input type="text" ng-model="parameters.AH"></td>
                        </tr>
                        <tr>
                            <td>销售电价</td>
                            <td><input type="text" ng-model="parameters.AJ"></td>
                            <td>售电增值服务税</td>
                            <td><input type="text" ng-model="parameters.AI"></td>
                            <td>补贴收入</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>运维分包单价</td>
                            <td><input type="text" ng-model="parameters.FA"></td>
                            <td>部门费用分摊率</td>
                            <td><input type="text" ng-model="parameters.HA"></td>
                            <td>期间费用分摊率</td>
                            <td><input type="text" ng-model="parameters.JA"></td>
                        </tr>
                        <tr>
                            <td>项目人工成本工本率</td>
                            <td><input type="text" ng-model="parameters.GA"></td>
                            <td>项目建造期业务活动费</td>
                            <td><input type="text" ng-model="parameters.GG"></td>
                            <td>项目直接费用利息利率</td>
                            <td><input type="text" ng-model="parameters.GB"></td>
                        </tr>
                        <tr>
                            <td>项目建造期差旅费</td>
                            <td><input type="text" ng-model="parameters.GF"></td>
                            <td>项目直接费用利息贷款比例</td>
                            <td><input type="text" ng-model="parameters.GC"></td>
                            <td>项目建造期专家外协咨询</td>
                            <td><input type="text" ng-model="parameters.GI"></td>
                        </tr>
                        <tr>
                            <td>项目直接费用利息贷款年限</td>
                            <td><input type="text" ng-model="parameters.GD"></td>
                            <td>项目建造期其他费用</td>
                            <td><input type="text" ng-model="parameters.GR"></td>
                            <td>项目分享期业务活动费</td>
                            <td><input type="text" ng-model="parameters.GP"></td>
                        </tr>
                        <tr>
                            <td>项目分享期专家外协咨询</td>
                            <td><input type="text" ng-model="parameters.GQ"></td>
                            <td>项目分享期差旅费</td>
                            <td><input type="text" ng-model="parameters.GO"></td>
                            <td>项目分享期其他费用</td>
                            <td><input type="text" ng-model="parameters.GS"></td>
                        </tr>
                        <tr>
                            <td>收益期税费</td>
                            <td><input type="text" ng-model="parameters.MM"></td>
                            <td>收益期贷款利率</td>
                            <td><input type="text" ng-model="parameters.MY"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                <!--</div>-->
                <div class="panel-footer">
                    <button class="btn btn-primary" ng-click="save()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>