<div class="modal-header">
    <h4 class="modal-title">添加新项目</h4>
</div>
<div class="modal-body">
    <form role="form" class="form inline">
        <div class="form-group">
            <label>项目名称</label>
            <input type="text" class="form-control" ng-model="projectName">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>