<div class="row" ng-controller="basicInfoCtrl">
    <div id="left-information" class="col-md-3">
        <form>
            <div class="form-group">
                <label for="projectname">项目名</label>
                <input type="text" class=" form-control" ng-model="projectInfo.projectName" id="projectname">
            </div>
            <div class="form-group">
                <label for="address">地址</label>
                <input type="text" class=" form-control" ng-model="projectInfo.projectAddress" id="address">
            </div>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class=" form-control" ng-model="projectInfo.userName" id="username">
            </div>
            <div class="form-group">
                <label for="lastmodifytime">最后修改时间</label>
                <p class="input-group">
                    <input type="text" id="lastmodifytime" class="form-control" uib-datepicker-popup ng-model="projectInfo.projectDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label for="notes">备注</label>
                <textarea class="form-control" ng-model="projectInfo.remark" rows="8" id="notes" style="resize:none"></textarea>
            </div>
        </form>
    </div>
    <pvmap></pvmap>
</div>