<div class="row" ng-controller="basicInfoCtrl">
    <div id="left-information" class="col-md-3">
        <form>
            <div class="form-group">
                <label for="projectname">项目名</label>
                <input type="text" class=" form-control" ng-model="projectInfo.projectName" id="projectname">
            </div>
            <div class="form-group">
                <label for="address">地址</label>
                <input type="text" class=" form-control" ng-model="projectInfo.projectAddress" id="address">
            </div>
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class=" form-control" ng-model="projectInfo.userName" id="username">
            </div>
            <div class="form-group">
                <label for="lastmodifytime">最后修改时间</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="projectInfo.projectDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="关闭" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label for="notes">备注</label>
                <textarea class="form-control" ng-model="projectInfo.remark" rows="8" id="notes" style="resize:none"></textarea>
            </div>
        </form>
    </div>
    <div id="map" class="col-md-9 ">
        <div class="mapWraper" style="border:1px solid black">
            <div id="mapContainer" style="height:400px">
            
            </div>
            <form class="form-inline" role="form" style="margin:15px 20px;">
               <div class="form-group" style="margin-right:30px">
                  <label class="control-label" for="lag">经度</label>
                  <input type="text" class="form-control" id="lng" 
                     placeholder="经度" ng-model="projectInfo.lng">
               </div>
               <div class="form-group" style="margin-right:30px">
                  <label class="control-label" for="lat">纬度</label>
                  <input type="text" class="form-control" id="lat" 
                     placeholder="纬度" ng-model="projectInfo.lat">
               </div>
               <button  class="btn btn-primary" id="locatePoint">定位</button>
            </form>
        </div>
    </div>
    <script type="text/javascript-lazy"> 
        var map = new BMap.Map("mapContainer");          // 创建地图实例  
        map.enableScrollWheelZoom();
        var point = new BMap.Point(121.494966, 31.219456);  // 创建点坐标  
        map.centerAndZoom(point, 10);                 // 初始化地图，设置中心点坐标和地图级别  
        map.addEventListener("click", function(e){
            document.getElementById('lng').value = e.point.lng;
            document.getElementById('lat').value = e.point.lat;
        });
        document.getElementById('locatePoint').addEventListener('click',function(e){
            var lng = document.getElementById('lng').value;
            var lat = document.getElementById('lat').value;
            map.centerAndZoom(new BMap.Point(lng,lat), 13);
        })
    </script> 
</div>