<div ng-controller="benefitCtrl">
    <div class="row">
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">参数列表</div>
                <div class="body" ng-click="switchToUrl('/9')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ok task-finish"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">投资成本</div>
                <div class="body" ng-click="switchToUrl('/10')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-hand-up task-todo"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">符合条件EMC</div>
                <div class="body" ng-click="switchToUrl('/11')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">收益期状况</div>
                <div class="body" ng-click="switchToUrl('/12')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">综合指标</div>
                <div class="body" ng-click="switchToUrl('/13')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary" ng-click="back()">返回</button>
    </div>
</div>