<div ng-controller="benefitCtrl" class="benefitAnalysis">
    <div class="row">
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="res/images/参数.png" alt="">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-block" ng-click="switchToUrl('/9')">参数列表</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="res/images/投资成本.png" alt="">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-block" ng-click="switchToUrl('/10')">投资成本</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="res/images/符合条件.png" alt="">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-block" ng-click="switchToUrl('/11')">符合条件EMC</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="res/images/收益.png" alt="">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-block" ng-click="switchToUrl('/12')">收益期状况</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="res/images/综合指标.png" alt="">
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-primary btn-block" ng-click="switchToUrl('/13')">综合指标</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <button class="btn btn-success btn-block" ng-click="back()">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>