<div id="choose-inverter" ng-controller="chooseInverterCtrl">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span style="font-size: 1.2em">集中式逆变器</span>
                    <button class="btn btn-info" ng-click="setType('centralized')">选择</button>
                    <span class="btn glyphicon glyphicon-check pull-right inverter-checked" ng-show="obj.type === 'centralized'"></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="res/images/nibianqi.jpg" alt="集中式逆变器">
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-link">集中式逆变器</button>
                                    <button class="btn btn-primary pull-right btn-sm" ng-disabled="!(obj.type === 'centralized')" ng-click="showForm('centralized-inverter')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="res/images/huiliuxiang.jpg" alt="直流汇流箱">
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-link">直流汇流箱</button>
                                    <button class="btn btn-primary pull-right btn-sm" ng-disabled="!(obj.type === 'centralized')" ng-click="showForm('cocurrent-combiner')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="res/images/peidiangui.jpg" alt="直流配电柜">
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-link">直流配电柜</button>
                                    <button class="btn btn-primary pull-right btn-sm" ng-disabled="!(obj.type === 'centralized')" ng-click="showForm('DC-power-distribution')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="res/images/dianlan.jpg" alt="电缆">
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-link">电缆</button>
                                    <button class="btn btn-primary pull-right btn-sm" ng-disabled="!(obj.type === 'centralized')" ng-click="showForm('cocurrent-cable')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span style="font-size: 1.2em">组串式逆变器</span>
                    <button class="btn btn-info" ng-click="setType('group')">选择</button>
                    <span class="btn glyphicon glyphicon-check pull-right inverter-checked"  ng-show="obj.type==='group'"></span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="res/images/zunibianqi.png" alt="组串式逆变器">
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-link">组串式逆变器</button>
                                    <button class="btn btn-primary pull-right btn-sm" ng-disabled="(obj.type === 'centralized')" ng-click="showForm('groups-inverter')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="res/images/zuhuiliuxiang.jpg" alt="交流汇流箱">
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-link">交流汇流箱</button>
                                    <button class="btn btn-primary pull-right btn-sm" ng-disabled="(obj.type === 'centralized')" ng-click="showForm('AC-combiner')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="res/images/dianlan.jpg" alt="电缆">
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-link">电缆</button>
                                    <button class="btn btn-primary pull-right btn-sm" ng-disabled="(obj.type === 'centralized')" ng-click="showForm('group-cable')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="finish()">完成</button>
</div>