<div id="choose-inverter" ng-controller="chooseInverterCtrl">
    <div id="centralism-group-radio" class="row">
        <div class="col-md-2">
            <input type="radio" name="inverterCheck" class="iCheck" checked id="centralism-inverter" ng-model="obj.type"
                   value="centralized">
            <label for="centralism-inverter">
                集中式逆变器
            </label>
        </div>
        <div class="col-md-2">
            <input type="radio" name="inverterCheck" class="iCheck" id="group-inverter" ng-model="obj.type"
                   value="group">
            <label for="group-inverter">组串式逆变器</label>
        </div>
    </div>
    <div id="centralism-instrument" class="row" ng-show="show">
        <div id="centralized-inverter" class="col-md-2 cocurrent" ng-click="showForm('centralized-inverter')">
            <div class="pv-mask"><span>集中式逆变器</span></div>
        </div>
        <div id="cocurrent-combiner" class="col-md-2 col-md-offset-1 cocurrent"
             ng-click="showForm('cocurrent-combiner')">
            <div class="pv-mask"><span>直流汇流箱</span></div>
        </div>
        <div id="DC-power-distribution" class="col-md-2 col-md-offset-1 cocurrent"
             ng-click="showForm('DC-power-distribution')">
            <div class="pv-mask"><span>直流配电柜</span></div>
        </div>
        <div id="cocurrent-cable" class="col-md-2 col-md-offset-1 cocurrent" ng-click="showForm('cocurrent-cable')">
            <div class="pv-mask"><span>电缆</span></div>
        </div>
    </div>
    <div id="group-instrument" class="row" ng-show="!show">
        <div id="groups-inverter" class="col-md-2 group" ng-click="showForm('groups-inverter')">
            <div class="pv-mask"><span>组串式逆变器</span></div>
        </div>
        <div id="AC-combiner" class="col-md-2 col-md-offset-1 group" ng-click="showForm('AC-combiner')">
            <div class="pv-mask"><span>交流汇流箱</span></div>
        </div>
        <div id="group-cable" class="col-md-2 col-md-offset-1 group" ng-click="showForm('group-cable')">
            <div class="pv-mask"><span>电缆</span></div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="finish()">完成</button>
</div>