<div class="row" ng-controller="chooseComponentCtrl" id="pv-component">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-11">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">选择组件</h3>
					</div>
					<div class="panel-body">
						<select ng-model="selected" class="form-control">
							<option value="">--选择组件--</option>
							<option ng-repeat="component in components" value="{{component}}">
								{{component['公司'] + '(公司) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + component['类型'] + '(类型)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + component['系列'] + '(系列)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + component['型号'] + '(型号)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + component['峰值功率'] + '(峰值功率w)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + component['转换效率'] + '%(转换效率)'}}
							</option>
						</select>
						<br>
						<table class="table table-bordered">
							<tr>
								<td>开路电压/V</td>
								<td>最大功率点电压/V</td>
								<td>最大功率点电流/A</td>
								<td>短路电流/A</td>
								<td>转换效率/%</td>
								<td>开路电压温度系数(%/℃)</td>
								<td>最大功率温度系数(%/℃)</td>
							</tr>
							<tr>
								<td>{{ show['开路电压'] }}</td>
								<td>{{show['最大功率点电压']}}</td>
								<td>{{show['最大功率点电流']}}</td>
								<td>{{show['短路电流']}}</td>
								<td>{{show['转换效率']}}</td>
								<td>{{show['开路电压温度系数']}}</td>
								<td>{{show['最大功率温度系数']}}</td>
							</tr>
							<tr>
								<td>短路电流温度系数(%/℃)</td>
								<td>长度/mm</td>
								<td>宽度/mm</td>
								<td>重量/kg</td>
								<td>工作温度下限/℃</td>
								<td>工作温度上限/℃</td>
							</tr>
							<tr>
								<td>{{show['短路电流温度系数']}}</td>
								<td>{{show['长度']}}</td>
								<td>{{show['宽度']}}</td>
								<td>{{show['重量']}}</td>
								<td>{{show['工作温度下限']}}</td>
								<td>{{show['工作温度上限']}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-body">
						<div ng-show="showI">
							<canvas class="chart chart-line" chart-data="data1" chart-labels="labels" chart-options="options1" height="100px">
						</canvas>
						</div>
						<div ng-show="!showI">
							<canvas class="chart chart-line" chart-data="data2" chart-labels="labels" chart-options="options2" height="100px">
						</canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-body">
						<div>
							<slider floor="-25" ceiling="100" step="1" precision="0" ng-model="T"></slider>
							T:{{T}}
						</div>
						<div>
							<slider floor="400" ceiling="1300" step="100" precision="0" ng-model="S"></slider>
							S:{{S}}
						</div>
						<button ng-click="showI=true" class="btn btn-primary">i-v 图</button>
						<button ng-click="showI=false" class="btn btn-primary">p-v 图</button>
					</div>
					<div class="panel-footer">
						<button class="btn btn-success btn-block" ng-click="confirmChoose()" type="button">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>