<div id="component-angle" ng-controller="confirmAngleCtrl" style="color:white">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label for="azimuthal-angel">方位角</label>
                    <input type="text" class="form-control" ng-model="angleInfo.az" id="azimuthal-angel" >
                </div>
                <div class="form-group">
                    <label for="incidence-angel">倾角</label>
                    <input type="text"class="form-control" ng-model="angleInfo.dip" id="incidence-angel">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="showChart(0)">年总辐照度</button>
                <button type="button" class="btn btn-primary" ng-click="showChart(1)">g</button>
                <button type="button" class="btn btn-primary" ng-click="showChart(2)">月平均辐照度</button>
                <button type="button" class="btn btn-primary" ng-click="showChart(3)">H_T*n</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <canvas id="line" class="chart chart-line" chart-data="data[0]"
                    chart-labels="labelsAngle" chart-options="options" chart-series="series[0]" ng-show="show[0]">
            </canvas>
            <canvas id="line" class="chart chart-line" chart-data="data[1]"
                    chart-labels="labelsAngle" chart-options="options" chart-series="series[1]" ng-show="show[1]">
            </canvas>
            <canvas id="line" class="chart chart-line" chart-data="data[2]"
                    chart-labels="labelsMonth" chart-options="options" chart-series="series[2]" ng-show="show[2]">
            </canvas>
            <canvas id="line" class="chart chart-line" chart-data="data[3]"
                    chart-labels="labelsMonth" chart-options="options" chart-series="series[3]" ng-show="show[3]">
            </canvas>
        </div>
    </div>
</div>