<div class="modal-header">
    <h3 class="modal-title">直流配电柜</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12">
              <select ng-model="selected" class="form-control">
                <option ng-repeat="item in items" value="{{item}}">{{item['公司'] + '&nbsp;&nbsp;&nbsp;' + item['型号']}} </option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr>
                  <th>接入直流路数/个</th>
                  <th>输入直流功率上限/W</th>
                  <th>输入输出总电流上限/A</th>
                  <th>接入开路电压上限/V</th>
                </tr>
                <tr>
                  <td>{{directDistributionInfo.directDistribution['接入直流路数']}} </td>
                  <td>{{directDistributionInfo.directDistribution['输入直流功率上限']}} </td>
                  <td>{{directDistributionInfo.directDistribution['输入输出总电流上限']}} </td>
                  <td>{{directDistributionInfo.directDistribution['接入开路电压上限']}} </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-5">
            <p>已选配电柜：{{savedInfo.directDistribution['公司'] + ' ' + savedInfo.directDistribution['型号']}}</p>
            <table class="table table-bordered">
                <tr>
                    <td></td>
                    <td>推荐值</td>
                    <td ng-show="showSaved">保存值</td>
                </tr>
                <tr>
                    <td>配电柜输入路数</td>
                    <td><input type="text" class="form-control input-sm" size="3" ng-model="directDistributionInfo.branches"></td>
                    <td ng-show="showSaved">{{savedInfo.branches}}</td>
                </tr>
                <tr>
                    <td>每台逆变器接入配电柜数</td>
                    <td><input type="text" class="form-control input-sm" size="3" ng-model="directDistributionInfo.numPerInverter"></td>
                    <td ng-show="showSaved">{{savedInfo.numPerInverter}}</td>
                </tr>
                <tr>
                    <td>配电柜总数</td>
                    <td><p class="static-form-control input-sm" size="3">{{directDistributionInfo.num}}</p></td>
                    <td ng-show="showSaved">{{savedInfo.num}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">完成</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>