<div class="modal-header">
    <h3 class="modal-title">直流汇流箱</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-2">
              <button class="btn btn-primary" ng-click="getData()">获取数据</button>
            </div>
            <div class="col-md-8">
              <select ng-model="selected" class="form-control">
                <option ng-repeat="item in items" value="{{item}}">{{item['厂家'] + '&nbsp;&nbsp;&nbsp;' + item['型号']}} </option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr>
                  <th>输入路数（个）</th>
                  <th>输入电流上限（A）</th>
                  <th>有直流断路器（布尔）</th>
                  <th>有防雷失效监控（布尔）</th>
                  <th>有监控单元（布尔）</th>
                </tr>
                <tr>
                  <td>{{directCurrentInfo.directCurrent['输入路数']}} </td>
                  <td>{{directCurrentInfo.directCurrent['输入电流上限']}} </td>
                  <td>{{directCurrentInfo.directCurrent['有直流断路器']}} </td>
                  <td>{{directCurrentInfo.directCurrent['有防雷失效监控']}} </td>
                  <td>{{directCurrentInfo.directCurrent['有监控单元']}} </td>
                </tr>
                <tr>
                  <th>辅助电源</th>
                  <th>价格下限（￥）</th>
                  <th>价格上限（￥）</th>
                </tr>
                <tr>
                  <td>{{directCurrentInfo.directCurrent['辅助电源']}} </td>
                  <td>{{directCurrentInfo.directCurrent['价格下限']}} </td>
                  <td>{{directCurrentInfo.directCurrent['价格上限']}} </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <form role="form">
                <div class="form-group">
                    <label>汇流箱输入路数</label>
                    <input type="text" class="form-control" ng-model="directCurrentInfo.branches">
                </div>
                <div class="form-group">
                    <label>每台逆变器接入汇流箱数</label>
                    <input type="text" class="form-control" ng-model="directCurrentInfo.numPerInverter">
                </div>
                <div class="form-group">
                  <label>汇流箱总数</label>
                  <p class="static-form-control">{{directCurrentInfo.num}}</p>
               </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>