<div class="row" ng-controller="meteorologyCtrl">
    <div class="col-md-9" id="meterTable">
        <table class="table table-bordered">
            <tr>
                <td>月份</td>
                <td>辐照度(kWh/m2/day)</td>
                <td>温度(°C)</td>
                <td>湿度(%)</td>
                <td>风速(m/s)</td>
            </tr>
            <tr ng-repeat="monthinfo in meteorologyInfo.monthinfos">
                <td>{{$index + 1}}月</td>
                <td><input ng-model="monthinfo.H" size="4" ng-readonly="meteorologyInfo.type == 'db'"></td>
                <td><input ng-model="monthinfo.temperature" size="4" ng-readonly="meteorologyInfo.type == 'db'"></td>
                <td><input ng-model="monthinfo.humidity" size="4" ng-readonly="meteorologyInfo.type == 'db'"></td>
                <td><input ng-model="monthinfo.wind" size="4" ng-readonly="meteorologyInfo.type == 'db'"></td>
            </tr>
            <tr>
                <td>平均值</td>
                <td>{{meteorologyInfo.monthavgs.H}}</td>
                <td>{{meteorologyInfo.monthavgs.temperature}}</td>
                <td>{{meteorologyInfo.monthavgs.humidity}}</td>
                <td>{{meteorologyInfo.monthavgs.wind}}</td>
            </tr>
        </table>
    </div>
    <div id="mete-basicinfo" class="col-md-3">
        <div class="panel-body panel-message" style="padding:30px 20px">
            <div id="mete-data">
                <form>
                    <div class="form-group">
                        <input type="radio" name="mete-data" id="pv-db" ng-model="meteorologyInfo.type"
                               ng-click="selectDb($event)" value="db"/>
                        <label for="pv-db">国际气象数据库</label> <br>
                        <input type="radio" name="mete-data" id="pv-user" ng-model="meteorologyInfo.type"
                               ng-click="selectUser($event)" value="user"/>
                        <label for="pv-user">用户自定义</label>
                    </div>
                </form>
            </div>
            <div id="lat-longitude">
                <form>
                    <div class="form-group">
                        <label for="longitude">经度</label>
                        <input type="text" ng-model="lng" readonly="true" class=" form-control" id="longitude">
                        <label for="latitude">纬度</label>
                        <input type="text" ng-model="lat" readonly="true" class=" form-control" id="latitude">
                    </div>
                </form>
            </div>
            <div id="ult-temperature">
                <form>
                    <div class="form-group">
                        <label for="max-temperature"> 最高温度</label>
                        <input type="text" ng-model="meteorologyInfo.maxTem" class="form-control" id="max-temperature">
                        <label for="min-tempurature">最低温度</label>
                        <input type="text" ng-model="meteorologyInfo.minTem" class="form-control" id="min-tempurature">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="save()">确定</button>
</div>
