<div ng-controller="efficiencyAnalysisCtrl">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">年平均综合损耗表</h3>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>损耗因素</th>
                        <th>损耗预估值/%</th>
                    </tr>
                    <tr>
                        <td>阴影损耗</td>
                        <td><input type="text" ng-model="data.loss[0]"></td>
                    </tr>
                    <tr>
                        <td>灰尘等遮挡损耗</td>
                        <td><input type="text" ng-model="data.loss[1]"></td>
                    </tr>
                    <tr>
                        <td>组件温升损耗</td>
                        <td><input type="text" ng-model="data.loss[2]"></td>
                    </tr>
                    <tr>
                        <td>直流电缆损耗</td>
                        <td><input type="text" ng-model="data.loss[3]"></td>
                    </tr>
                    <tr>
                        <td>组串内失配损耗</td>
                        <td><input type="text" ng-model="data.loss[4]"></td>
                    </tr>
                    <tr>
                        <td>逆变器损耗</td>
                        <td><input type="text" ng-model="data.loss[5]"></td>
                    </tr>
                    <tr>
                        <td>变压器损耗</td>
                        <td><input type="text" ng-model="data.loss[6]"></td>
                    </tr>
                    <tr>
                        <td>交流电缆损耗</td>
                        <td><input type="text" ng-model="data.loss[7]"></td>
                    </tr>
                    <tr>
                        <td>故障检修、电网等其它损耗</td>
                        <td><input type="text" ng-model="data.loss[8]"></td>
                    </tr>
                </table>
                <div class="panel-footer">
                    总损耗值：<span style="color:blue">{{data.lossTotal | number : 1 }}</span> %
                </div>
            </div>
            <button class="btn btn-success btn-block" ng-click="finish()">确定</button>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-show="active == 0">
                        <canvas class="chart chart-line" chart-data="chartData0" chart-labels="labelsMonth" chart-options="options0">
                </canvas>
                    </div>
                    <div ng-show="active == 1">
                        <canvas class="chart chart-bar" chart-data="chartData1" chart-labels="labelsMonth" chart-options="options1">
                </canvas>
                    </div>
                    <div ng-show="active == 2">
                        <canvas class="chart chart-bar" chart-data="chartData2" chart-labels="labelsMonth" chart-options="options2">
                </canvas>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-default" ng-click="setActive(0)">月总辐照度</button>
                    <button class="btn btn-default" ng-click="setActive(1)">损耗电量</button>
                    <button class="btn btn-default" ng-click="setActive(2)">并入电网电量</button>
                    <span class="pull-right">第 <span style="color : blue">{{data.runYears}}</span> 年</span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            组件性能衰减：
                            <form role="form" class="form-inline">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" ng-model="data.componentLoss" size="4">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            发电系统运行年数：
                            <form role="form" class="form-inline">
                                <div class="form-group input-group">
                                    <input type="text" ng-model="data.totalYears" class="form-control" size="4">
                                    <span class="input-group-addon">年</span>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <slider floor="1" ceiling="{{data.totalYears}}" step="1" precision="0" ng-model="data.runYears"></slider>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>