<div class="modal-header">
    <h3 class="modal-title">低压开关柜</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9">
          <div class="row">
            <!--<div class="col-md-2">
              <button class="btn btn-primary" ng-click="getData()">获取数据</button>
            </div>-->
            <div class="col-md-10">
              <select ng-model="selected" class="form-control">
                <option ng-repeat="item in items" value="{{item}}">{{item['型号']}} </option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr>
                  <th>类型</th>
                  <th>母线额定电流（A）</th>
                  <th>额定电压（V）</th>
                  <th>额定频率（Hz）</th>

                </tr>
                <tr>
                  <td>{{lowSwitchInfo.lowSwitch['类型']}} </td>
                  <td>{{lowSwitchInfo.lowSwitch['母线额定电流']}} </td>
                  <td>{{lowSwitchInfo.lowSwitch['额定电压']}} </td>
                  <td>{{lowSwitchInfo.lowSwitch['额定频率']}} </td>
                </tr>
                <tr>
                  <th>防护等级</th>
                  <th>用途</th>
                  <th>结构形式</th>
                  <th>价格下限（￥）</th>
                  <th>价格上限（￥）</th>

                </tr>
                <tr>
                  <td>{{lowSwitchInfo.lowSwitch['防护等级']}} </td>
                  <td>{{lowSwitchInfo.lowSwitch['用途']}} </td>
                  <td>{{lowSwitchInfo.lowSwitch['结构形式']}} </td>
                  <td>{{lowSwitchInfo.lowSwitch['价格下限']}} </td>
                  <td>{{lowSwitchInfo.lowSwitch['价格上限']}} </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <form role="form">
               <div class="form-group">
                  <label>低压开关柜数量</label>
                  <input type="text" class="form-control" ng-model="lowSwitchInfo.num">
               </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">完成</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>