<div ng-controller="projectCtrl">
    <div class="row">
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">项目信息</div>
                <div class="body" ng-click="switchToUrl('/1')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ok task-finish"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">地理气象</div>
                <div class="body" ng-click="switchToUrl('/2')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-hand-up task-todo"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">组件选型</div>
                <div class="body" ng-click="switchToUrl('/3')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">倾角</div>
                <div class="body" ng-click="switchToUrl('/4')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">组件布局</div>
                <div class="body" ng-click="switchToUrl('/5')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">逆变器</div>
                <div class="body"  ng-click="switchToUrl('/6')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">升压变压器</div>
                <div class="body" ng-click="switchToUrl('/7')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">效率分析</div>
                <div class="body" ng-click="switchToUrl('/14')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">效益分析</div>
                <div class="body"  ng-click="switchToUrl('/8')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="y-card">
                <div class="header">报告</div>
                <div class="body" ng-click="switchToUrl('/15')">as</div>
                <div class="footer"><span class="glyphicon glyphicon-ban-circle task-ban"></span></div>
            </div>
        </div>
    </div>
</div>