<div ng-controller="reportCtrl">
    <div id="divPrint">
        <div class="row">
            <div class="col-md-11">
                <table class="report-info table table-bordered" style="width:100%;table-layout:fixed">
                    <caption>基本信息</caption>
                    <tr>
                        <td>项目名称：{{data.projectInfo.projectName}}</td>
                        <td>设计时间：{{data.projectInfo.designTime | date:'yyyy-MM-dd'}}</td>
                        <td>总装机容量：{{data.projectInfo.capacity}}kW</td>
                    </tr>
                    <tr>
                        <td>固定安装方式</td>
                        <td>方位角：{{data.projectInfo.az}}&deg;</td>
                        <td>倾角：{{data.projectInfo.dip}}&deg;</td>
                    </tr>
                    <tr>
                        <td>光伏阵列</td>
                        <td>阵列前后支架间距：{{data.projectInfo.arrayfbspace | number:2}} m</td>
                        <td>年总发电量：{{data.electricity.yearCapacity | number:3}}kWh</td>
                    </tr>
                    <tr>
                        <td>经度：{{data.projectInfo.lng | number:2}}&deg;</td>
                        <td>纬度：{{data.projectInfo.lat | number:2}}&deg;</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-11">
                <table class="table table-bordered">
                    <caption>气象数据</caption>
                    <tr>
                        <td>月份</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>辐照度</td>
                        <td ng-repeat="h in data.meteorology.HT">{{h}}</td>
                    </tr>
                    <tr>
                        <td>温度</td>
                        <td ng-repeat="t in data.meteorology.temperature">{{t}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-11">
                <table class="table table-bordered">
                    <caption>设备表</caption>
                    <tr>
                        <td>设备名称</td>
                        <td>型号</td>
                        <td>数量/长度</td>
                        <td>单价</td>
                        <td>总价</td>
                    </tr>
                    <tr ng-repeat="d in data.device">
                        <td>{{d.name}}</td>
                        <td>{{d.model}}</td>
                        <td>{{d.num}}</td>
                        <td><input size="6" type="text" ng-model="d.price"></td>
                        <td>{{d.price * d.num}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-11">
                <table class="table table-bordered">
                    <caption>第一年</caption>
                    <tr>
                        <td>系统年总发电量：{{data.electricity.yearCapacity | number : 3}} kWh</td>
                        <td>年总辐射量：{{data.electricity.yearHT | number : 2}} kWh/m&sup2;</td>
                        <td>系统年总综合效率：{{data.electricity.yearEfficient | number : 2}} %</td>
                    </tr>
                    <tr>
                        <td class="chart-data">
                            <canvas class="chart chart-line" chart-data="electricityChartData" chart-labels="labelsMonth" chart-options="options1[0]">
                        </canvas>
                        </td>
                        <td class="chart-data">
                            <canvas class="chart chart-line" chart-data="HChartData" chart-labels="labelsMonth" chart-options="options1[1]">
                        </canvas>
                        </td>
                        <td class="chart-data">
                            <canvas class="chart chart-pie" chart-data="lossChartData" chart-labels="lossLabel" chart-options="options1[2]">
                        </canvas>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-11">
                <table class="table table-bordered">
                    <caption>综合经济效益表</caption>
                    <tr>
                        <td>名称</td>
                        <td>金额</td>
                        <td>备注</td>
                    </tr>
                    <tr>
                        <td>项目总现金支出</td>
                        <td>{{data.profit.totalCost | number:1}}</td>
                        <td>含税</td>
                    </tr>
                    <tr>
                        <td>其中：设计费</td>
                        <td>{{data.profit.designCost | number:1}}</td>
                        <td>含税</td>
                    </tr>
                    <tr>
                        <td>设备费</td>
                        <td>{{data.profit.deviceCost | number:1}}</td>
                        <td>含税</td>
                    </tr>
                    <tr>
                        <td>建安费</td>
                        <td>{{data.profit.constructionCost | number:1}}</td>
                        <td>含税</td>
                    </tr>
                    <tr>
                        <td>监理费</td>
                        <td>{{data.profit.supervisionCost | number:1}}</td>
                        <td>含税</td>
                    </tr>
                    <tr>
                        <td>其他费用</td>
                        <td>{{data.profit.otherCost | number:1}}</td>
                        <td>含税</td>
                    </tr>
                    <tr>
                        <td>项目建设成本</td>
                        <td>{{data.profit.projectBuildCost | number:1}}</td>
                        <td>不含税</td>
                    </tr>
                    <tr>
                        <td>建设期</td>
                        <td>{{data.profit.buildPeriod}}</td>
                        <td>月</td>
                    </tr>
                    <tr>
                        <td>收益期</td>
                        <td>{{data.profit.profitPeriod}}</td>
                        <td>年</td>
                    </tr>
                    <tr>
                        <td>年总收入</td>
                        <td>{{data.profit.yearProfit | number:1}}</td>
                        <td>不含税</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-11">
                <table class="table table-bordered" style="table-layout:fixed">
                    <tr>
                        <td class="chart-data">
                            <canvas class="chart chart-line" chart-data="debtChartData" chart-labels="labelsYear" chart-options="options2[0]">
                        </canvas>
                        </td>
                        <td class="chart-data">
                            <canvas class="chart chart-line" chart-data="investChartData" chart-labels="labelsYear" chart-options="options2[1]">
                        </canvas>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 20px 0;">
        <div class="col-md-2">
            <button class="btn btn-info btn-block" ng-click="back()">返回</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-block" ng-click="gereratePdf()"><span class="glyphicon glyphicon-download-alt"></span> 导出PDF</button>
        </div>
    </div>
</div>