<div class="modal-header">
    <h3 class="modal-title">升压变压器</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12">
              <select ng-model="selected" class="form-control">
                <option ng-repeat="item in items" value="{{item}}">{{item['产品名'] + '&nbsp;&nbsp;&nbsp;' + item['额定容量'] + 'VA' + '&nbsp;&nbsp;&nbsp;' + (item['分类']==null?'' : item['分类'])}} </option>
              </select>
            </div>
          </div>
          <div class="row" style="margin-top: 30px">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr>
                  <td>产品名</td>
                  <td>分类</td>
                  <td>额定容量</td>
                  <td>类型</td>
                </tr>
                <tr>
                  <td>{{transformerInfo.transformer['产品名']}}</td>
                  <td>{{transformerInfo.transformer['分类']}}</td>
                  <td>{{transformerInfo.transformer['额定容量']}}</td>
                  <td>{{transformerInfo.transformer['类型']}} </td>
                </tr>
                <tr>
                  <td>额定电压（V）</td>
                  <td>高压分接范围</td>
                  <td>联结组标号</td>
                  <td>空载损耗（W）</td>
                </tr>
                <tr>
                  <td>{{transformerInfo.transformer['额定电压']}} </td>
                  <td>{{transformerInfo.transformer['高压分接范围']}} </td>
                  <td>{{transformerInfo.transformer['联结组标号']}} </td>
                  <td>{{transformerInfo.transformer['空载损耗']}} </td>
                </tr>
                <tr>
                  <td>负载损耗（W）</td>
                  <td>空载电流（%）</td>
                  <td>短路阻抗（%）</td>
                </tr>
                <tr>
                  <td>{{transformerInfo.transformer['负载损耗']}} </td>
                  <td>{{transformerInfo.transformer['空载电流']}} </td>
                  <td>{{transformerInfo.transformer['短路阻抗']}} </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-5">
            <table class="table table-bordered">
                <tr>
                    <td></td>
                    <td>推荐值</td>
                    <td ng-show="showSaved">保存值</td>
                </tr>
                <tr>
                    <td>升压变压器串联逆变器的数量</td>
                    <td><input type="text" class="form-control input-sm" size="3" ng-model="transformerInfo.serialNum"></td>
                    <td ng-show="showSaved">{{savedInfo.serialNum}}</td>
                </tr>
                <tr>
                    <td>升压变压器数量</td>
                    <td><input type="text" class="form-control input-sm" size="3" ng-model="transformerInfo.num"></td>
                    <td ng-show="showSaved">{{savedInfo.num}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">完成</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>