<div id="design-type" ng-controller="userDesignCtrl">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img ng-src="{{src1}}" alt="组件图" style="display:block;margin:auto">
                    <hr>
                    <img ng-src="{{src2}}" alt="组件图" style="display:block;margin:auto;width:100%">
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>阵列排列方式：</label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" id="pv-r1" name="pv-r" value="horizontal" ng-model="userDesignInfo.componentDirection">
                            <label for="pv-r1">横排</label>
                        </div>
                        <div class="col-md-3">
                            <input type="radio" id="pv-r2" name="pv-r" value="vertical" ng-model="userDesignInfo.componentDirection">
                            <label for="pv-r2">竖排</label>
                        </div>
                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-7">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-6">m数：</label>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" ng-model="userDesignInfo.rowsPerFixture" min="1" value="1">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-6">n数：</label>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" ng-model="userDesignInfo.colsPerFixture" min="1" value="1">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">前后间距D(m)：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" ng-model="userDesignInfo.fbspace">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <p>推荐间距： {{fbspace}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <input type="radio" name="designType" id="pv-c2" value="capacity" ng-model="userDesignInfo.designType">
                    <label for="pv-c2">自定义安装容量(KW)</label>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-4">容量：</label>
                            <div class="col-md-4 input-group">
                                <input type="text" class="form-control" ng-model="userDesignInfo.capacity.totalCapacity">
                                <span class="input-group-addon">KW</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">总组件数：</label>
                            <div class="col-md-4 input-group">
                                <input type="text" class="form-control" ng-model="userDesignInfo.capacity.componentsNum">
                                <span class="input-group-addon">个</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <input type="radio" name="designType" id="pv-c1" value="area" ng-model="userDesignInfo.designType">
                    <label for="pv-c1">自定义面积</label>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">区域长L(m)：</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="userDesignInfo.area.length">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">左右间距d(m)：</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="userDesignInfo.lrspace">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">区域长可放置阵列数：</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{userDesignInfo.area.numPerRow}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">区域宽可放置阵列行数：</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{userDesignInfo.area.rowsNum}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">总组件数(个)：</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{userDesignInfo.area.componentsNum}}</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">区域宽W(m)：</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" ng-model="userDesignInfo.area.width">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">左右剩余间距(m)：</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{userDesignInfo.area.lrRestSpace}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">前后剩余间距(m)：</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{userDesignInfo.area.fbRestSpace}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">总占地面积(m2)：</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{userDesignInfo.area.totalArea}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">总容量(KW)：</label>
                                            <div class="col-md-4">
                                                <p class="form-control-static">{{userDesignInfo.area.totalCapacity}}</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-info" ng-click="back()">返回</button>
            <button class="btn btn-primary" ng-click="save()">确定</button>
        </div>
    </div>
</div>