<div id="design-type" ng-controller="userDesignCtrl" style="color:white">
    <div class="row" style="margin-top:30px">
        <div class="col-md-2 col-md-offset-2">
            <label>组件排列方式：</label>
        </div>
        <div class="col-md-1">
            <input type="radio" id="pv-r1" name="pv-r" value="horizontal" ng-model="userDesignInfo.componentDirection">
            <label for="pv-r1">横排</label>
        </div>
        <div class="col-md-1">
            <input type="radio" id="pv-r2" name="pv-r" value="vertical" ng-model="userDesignInfo.componentDirection">
            <label for="pv-r2">竖排</label>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-12">
        <form class="form-inline col-md-offset-1">
            <div class="form-group">
                <div class="form-group">
                    <label for="">每个支架上所放置组件数</label>
                    <input type="text" class="form-control" ng-model="userDesignInfo.numPerFixture" size="4">
                </div>
                <div class="form-group" style="margin-left: 40px">
                    <label for="">阵列前后间距</label>
                    <input type="text" class="form-control" ng-model="userDesignInfo.fbspace" size="4">
                </div>
            </div>
        </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <input type="radio" name="pv-c" id="pv-c1" value="area" ng-model="userDesignInfo.designType">
            <label for="pv-c1">用户自定义面积</label>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">区域长</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="userDesignInfo.area.length">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">区域宽</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="userDesignInfo.area.width">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">每行组件数</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="userDesignInfo.area.numPerRow">
                    </div>
                    <div class="col-md-5">
                        左右剩余间距：
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">阵列行数</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="userDesignInfo.area.rowsNum">
                    </div>
                    <div class="col-md-5">
                        前后剩余间距：
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">总组件数</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="userDesignInfo.area.componentsNum">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">总占地面积</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="userDesignInfo.area.totalArea">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-4 control-label">总容量</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="userDesignInfo.area.totalCapacity">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <input type="radio" name="pv-c" id="pv-c2" value="capacity" ng-model="userDesignInfo.capacity"> 
            <label for="pv-c2">用户自定义安装容量</label>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="userDesignInfo.capacity.totalCapacity">
        </div>
        <div class="col-md-1">
            (MW)
        </div>
    </div>
</div>