<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>光伏优化设计软件</title>
    <link rel="stylesheet" href="static/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/stylesheet/customer.css">
    <link rel="stylesheet" href="static/components/font-awesome-4.6.3/css/font-awesome.min.css">
    <script src="static/components/angular/angular.min.js"></script>
    <script src="static/components/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="static/components/angular-route/angular-route.min.js"></script>
    <script src="static/javascript/customer.js"></script>
    <script src="static/javascript/jquery.min.js"></script>
</head>

<body ng-app="PVCustomer" ondragstart='return false' onselectstart='return false' onselect='document.selection.empty()' oncopy='document.selection.empty()' onbeforecopy='return false' onmouseup='document.selection.empty()'>
    <div class="wrap">
        <div id="leftPanel" ng-controller="chooseDeviceCtrl">
            <ul>
                <li><a class="active" href="javascript:void(0);" ng-click="switchDevice('pvmodule')">光伏组件</a></li>
                <li><a href="javascript:void(0);" ng-click="switchDevice('centralizedInverter')">集中式逆变器</a></li>
                <li><a href="javascript:void(0);" ng-click="switchDevice('dcCombiner')">直流汇流箱</a></li>
                <li><a href="javascript:void(0);" ng-click="switchDevice('dcDistribution')">直流配电柜</a></li>
                <li><a href="javascript:void(0);" ng-click="switchDevice('groupInverter')">组串式逆变器</a></li>
                <li><a href="javascript:void(0);" ng-click="switchDevice('cable')">电缆</a></li>
                <li><a href="javascript:void(0);" ng-click="switchDevice('switch')">开关柜</a></li>
                <li><a href="javascript:void(0);" ng-click="switchDevice('transformer')">升压变压器</a></li>
            </ul>
        </div>
        <div class="mainbody" style="overflow-y: auto">
            <div class="container">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $('#leftPanel a').click(function() {
            $('#leftPanel a').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>

</html>