<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>光伏设计软件</title>
    <link rel="stylesheet" href="static/stylesheet/index.css">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=GFrzxzyQTLiDx6sxx8B4ScTLKuwPNzGi"></script>
    <link rel="stylesheet" href="static/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/components/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/stylesheet/project.css">
    <link rel="stylesheet" href="static/stylesheet/angular-slider.min.css">
    <script src="static/components/angular/angular.min.js"></script>
    <script src="static/javascript/angular-slider.min.js"></script>
    <script src="static/components/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="static/components/angular-route/angular-route.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="static/javascript/index.js"></script>
    <script src="static/javascript/jquery.min.js"></script>
</head>

<body ng-app="PVModule" ondragstart='return false' onselectstart='return false' onselect='document.selection.empty()' oncopy='document.selection.empty()' onbeforecopy='return false'>
    <div class="wrap">
        <div id="project" ng-controller="manageCtrl">
            <button id="goToCustomer" ng-click="goToCustomer()"><span class="glyphicon glyphicon-arrow-left"></span> 自定义设备</button>
            <p class="current-project">当前项目： &nbsp;<b>{{currentProject}}</b></p>
            <div class="navItem">
                <div class="navName"><span class="glyphicon glyphicon-list"></span> 项目<span class="pull-right add-project glyphicon glyphicon-plus" ng-click="addNewProject()"></span></div>
                <ul>
                    <li ng-repeat="project in projects" ng-dblclick="openProject(project)">
                        <span class="glyphicon glyphicon-trash btn-delete-project" ng-click="deleteProject(project)"></span> <span class="project-name">{{project}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mainbody" style="overflow-y: auto">
            <div class="container">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
        $(".navItem").on("mouseenter",".btn-delete-project",function() {
            $(this).stop().animate({
                "margin-left":"0px"
            },200);
            $(this).css({
                color:"red",
                background:"#fff"
            })
        });
        $(".navItem").on("mouseout",".btn-delete-project",function() {
            $(this).stop().animate({
                "margin-left":"-20px"
            },200)
            $(this).css({
                color:"#169fe6",
                background:"#169fe6",
            })
        });
    });

    //some default pre init
    var Countly = Countly || {};
    Countly.q = Countly.q || [];

    //provide countly initialization parameters
    Countly.app_key = 'd712606be8bc53fca2dacab22396f853fe3fdd1d';
    Countly.url = 'http://countly.wolfogre.com'; //or none for default countly cloud

    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_pageview']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);
    Countly.q.push(['track_forms']);

    //load countly script asynchronously
    (function() {
        var cly = document.createElement('script');
        cly.type = 'text/javascript';
        cly.async = true;
        //enter url of script here
        cly.src = 'https://cdnjs.cloudflare.com/ajax/libs/countly-sdk-web/16.2.0/countly.min.js';
        cly.onload = function() {
            Countly.init()
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(cly, s);
    })();
</script>

</html>