<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=GFrzxzyQTLiDx6sxx8B4ScTLKuwPNzGi"></script>
    <link rel="stylesheet" href="static/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/stylesheet/index.css">
    <link rel="stylesheet" href="tpls/css/project.css">
    <link rel="stylesheet" href="tpls/css/buttons.css">
    <link rel="stylesheet" href="tpls/css/blue.css">
    <script src="tpls/javascript/jquery-1.8.3.min.js"></script>
    <script src="static/components/angular/angular.min.js"></script>
    <script src="static/components/ui-bootstrap-tpls-1.3.2.min.js"></script>
    <script src="static/components/angular-route/angular-route.min.js"></script>
    <script src="static/components/angular-animate/angular-animate.min.js"></script>
    <script src="static/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="static/javascript/index.js"></script>
    <script src="static/javascript/algorithm.js"></script>
    <script src="static/components/Chart.js/dist/Chart.js"></script>
    <script src="tpls/javascript/radioButton.js"></script>
    <script src="tpls/javascript/icheck.min.js"></script>
</head>
<body ng-app="PVModule">
    <div id="mainBody">
        <div id="ProcedureNav" ng-controller="cordionCtrl">
            <ul>
                <li><a href=""><span class="glyphicon glyphicon-tree-deciduous"></span>&nbsp;&nbsp;快速导航</a></li>
                <li><a href=""><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;项目信息</a></li>
                <li><a href=""><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;地理气象</a></li>
                <li><a href=""><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;组件选型与布局</a></li>
                <li><a href=""><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;设备</a></li>
                <li><a href=""><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;效率分析</a></li>
                <li><a href=""><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;效益分析</a></li>
                <li><a href=""><span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;报告</a></li>
            </ul>
        </div>
        <div id="mainContentWrap">
            <div class="container" id="mainContent">

                <ng-view></ng-view>
            </div>
            <div id="pre-next" ng-controller="prenextCtrl" class="container">
                <div class="row">
                    <div class="col-md-2">
                        <button id="preBtn" class="btn btn-primary" ng-click="preStep()">上一步</button>
                    </div>
                    <div class="col-md-8" style="padding-top:10px">
                        <uib-progressbar max="max" value="current"><span style="color:white; white-space:nowrap;">{{current}} / {{max}}</span></uib-progressbar>
                    </div>
                    <div class="col-md-2">
                        <button id="nextBtn" class="btn btn-primary" ng-click="nextStep()">下一步</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>