html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    background: #f6f8f9;
    font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
a:focus{
	outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;          
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.wrap{
    height: 100%;
}
#leftPanel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    border-right: 1px solid grey;
}
#leftPanel li{
    height: 40px;
    border-bottom: 1px solid #efefef;
}
#leftPanel a{
    color: #000;
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    height: 40px;
    line-height: 30px;
    padding: 5px 10px;
}
#leftPanel a:hover{
    background: #5bc0dc;
    color: #fff;
}
#leftPanel a.active{
    background: #337ab7;
    color: #fff;
}
.mainbody{
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
}
.mainbody>.container{
    padding-top: 20px;
    overflow: hidden;
}
.device-items{
    max-height: 500px;
    overflow-y: auto;
}
.device-items table{
    table-layout: fixed;
    width: 100%;
}
