* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    border-top: 1px solid #eee;
}

td input {
    border: none;
    text-align: center;
    width: 100%;
}

td,
th {
    text-align: center;
}

.wrap {
    background: #fff;
    height: 100%;
    position: relative;
}

#project {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    width: 200px;
    background: #f6f8f9;
}

#goToCustomer {
    border: none;
    outline: none;
    width: 100%;
    height: 35px;
    background-color: inherit;
    color: #222;
    border-bottom: 1px solid #eee;
}

#goToCustomer:hover {
    background-color: #169fe6;
    color: #fff;
}

.current-project {
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.navName {
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 1.1em;
}

ul.project-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 115px;
    bottom: 0;
    overflow-y: auto;
    white-space: nowrap;
    background-color: #e6e8e9;
}

ul.project-list li span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.project-list .btn-delete-project {
    margin-left: -20px;
    text-align: center;
    width: 30px;
    color: #169fe6;
    background-color: #169fe6;
}

#project .project-name {
    padding: 0 10px;
}

ul.project-list li{
    background-color: #f0f0f0;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
}

ul.project-list li:hover {
    cursor: pointer;
    background: #dfeefd;
    color: #51a7f2;
}

#project .add-project {
    cursor: pointer;
}

.footer{
    position: absolute;
    bottom: 1px;
    height: 30px;
    left: 0;
    right: 0;
    background-color: #eee;
    text-align: center;
    color: #444;
    line-height: 30px;
    font-size: 12px;
    border-top: 1px solid #ddd;
}

.footer span:first-child{
    margin-left: 10px;
}

#switchUser:hover{
    cursor: pointer;
    background-color: #fff;
    color: #169fe6;
}

.mainbody {
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 30px;
    right: 0;
    background: #fff;
    overflow: hidden;
}

.mainbody>.container {
    padding-top: 20px;
    overflow: hidden;
}

.y-card {
    text-align: center;
    background-color: #f2f2f2;
    margin: 10px 10px;
    border-radius: 5px;
}

.y-card>.header {
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 5px 5px 0 0;
}

.y-card>.body {
    height: 120px;
}

.y-card>.body:hover {
    cursor: pointer;
}

.y-card>.footer {
    border-top: 1px solid #d6d6d6;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;
    border-radius: 0 0 2px 2px;
}

.op-row img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.welcoming {
    text-align: center;
    height: 100%;
    width: 100%;
}

.welcoming img.pv-image {
    display: block;
    margin: auto;
    width: 380px;
    height: 450px;
}

.report-info td {
    text-align: left;
}

.directCurrentCable {
    table-layout: fixed;
}

.directCurrentCable td {
    width: 100px;
    height: 100px;
}

.directCurrentCable img {
    width: 100%;
    height: 100%;
}

.directCurrentCable .arrows {
    height: 10px;
    cursor: pointer;
}

.alternatingCurrentCable {
    table-layout: fixed;
}

.alternatingCurrentCable td {
    width: 100px;
    height: 100px
}

.alternatingCurrentCable img {
    width: 100%;
    height: 100%;
}

.alternatingCurrentCable .arrows {
    height: 10px;
    cursor: pointer;
}

#transformer img {
    width: 100%;
    height: 270px;
}

.profitPeriod-table td {
    min-width: 100px;
}

#choose-inverter img {
    width: 100%;
    height: 150px;
}

.benefitAnalysis img {
    display: block;
    width: 70%;
    height: 150px;
    margin: auto;
}

::-webkit-scrollbar-track-piece {
    background-color: #ddd;
    -webkit-border-radius: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #999;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

ul.parametersProjects{
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    max-height: 400px;
    overflow: auto;
    border: 1px solid #2277da;
}
ul.parametersProjects > li{
    list-style: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #169fe6;
}
ul.parametersProjects > li:last-child{
    border-bottom: none;
}

div.page{
    page-break-after: always;
    page-break-inside: avoid;
    position: relative;
    padding: 0 20px;
}