*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
    background: transparent;
}
.wrap{
    border-radius: 5px 5px 0 0;
    background: #fff;
    height: 100%;
    position: relative;
}
.titlebar{
    border-radius: 5px 5px 0 0;
    position: relative;
    -webkit-app-region: drag;
    height: 30px;
    background: #1f71c5;
}
.titlebar .logo{
    float: left;
    height: 100%;
    width: 40px;
    padding-left: 10px;
    line-height: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
}
.titlebar .toggle-menu{
    float: left;
    height: 20px;
    text-align: center;
    line-height: 20px;
    width: 30px;
    margin: 5px 0;
    border-radius: 10px;
    color: white;
    background: #318ce7;
}

.titlebar .window-op{
    -webkit-app-region: no-drag;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: 15px 15px;
    background-position: center;
    background-repeat:no-repeat;
}
.window-op:hover{
    background-color: #007aff;
}
.titlebar .minimum{
    background-image: url(../../res/icons/minimum.png);
    top: 0;
    right: 60px;
}
.titlebar .maximum{
    background-image: url(../../res/icons/maximum.png);
    top: 0;
    right: 30px;
}
.titlebar .closebtn{
    border-radius: 0 5px 0 0;
    background-image: url(../../res/icons/close.png);
    top: 0;
    right: 0;
}
.menu{
    height:25px;
    background: #2e81d7;
}
.menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu li{
    color: #91c3f2;
    float: left;
    width: 50px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}
.menu li:hover{
    color: white;
    cursor: pointer;
}

#project{
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 200px;
    background: #f6f8f9;
}
.mainbody{
    position: absolute;
    top: 60px;
    left: 200px;
    bottom: 0;
    right: 0;
    background: #fff;
    overflow: hidden;
}
.mainbody>.container{
    padding-top: 20px;
    /*max-height: 90%;*/
    overflow: hidden;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.y-card{
    text-align: center;
    background-color: #f2f2f2;
    margin: 10px 10px;
    border-radius: 5px;
}
.y-card>.header{
    line-height:30px;
    height: 30px;
    border-bottom: 1px solid #d6d6d6;
    border-radius: 5px 5px 0 0;
}
.y-card>.body{
    height: 120px;
}
.y-card>.body:hover{
    cursor: pointer;
}
.y-card>.footer{
    border-top: 1px solid #d6d6d6;
    font-size: 1.2em;
    height: 40px;
    line-height:40px;
    border-radius: 0 0 2px 2px;
}
.task-finish{
    color: #419641;
}
.task-todo{
    position: relative;
    color: #2b669a;
    animation:up-down 1s infinite;
}
.task-ban{
    color: #b92c28;
}
@keyframes up-down {
    0%   {top:0px;}
    25%  {top:3px;}
    75%  {top:-3px;}
    100% {top:0px;}
}