html,body{
	height: 100%;
}
body{
	padding: 0;
	margin: 0;
	position: relative;
}
a{
	text-decoration: none;
}
#mainBody 
{  
    height: 100%;
} 
#ProcedureNav 
{ 
    width:120px; 
    height:100%; 
    background-color:#f0f0f0; 
    position:absolute; 
    border-right: 1px solid black;
}
#ProcedureNav ul{
	width: 100%;
	padding: 0;
	margin: 0;
}
#ProcedureNav ul li{
	list-style: none;
	width: 100%;
	display: block;
	color: #337ab7;
    background-color: transparent;
}
#ProcedureNav li a{
	position: relative;
    display: block;
    padding: 10px 15px;
}
#ProcedureNav li a:hover{
	background: #eee;
}

.panel-body{
	padding: 0;
}
#mainContentWrap
{ 
    background-color:#f0ffff; 
    height:100%; 
    margin-left:121px;
    position: relative;
}
#mainContent{
	position: absolute;
	bottom: 50px;
	top: 0;
	width: 100%;
}
#pre-next{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding: 5px 10px;
	border-top: 2px solid gray;
}
div#pre-next #preBtn{
	float: left;
}
div#pre-next #nextBtn{
	float: right;
}
