<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">选择经纬度</h3>
    </div>
    <div class="panel-body" style="padding: 0">
        <div class="mapWraper" >
            <div id="mapContainer" style="height:500px">

            </div>
            <form class="form-inline" role="form" style="margin:15px 20px;">
                <div class="form-group" style="margin-right:30px">
                    <label class="control-label" for="lng">经度</label>
                    <input type="text" class="form-control" id="lng"
                           placeholder="经度" ng-model="projectInfo.lng">
                </div>
                <div class="form-group" style="margin-right:30px">
                    <label class="control-label" for="lat">纬度</label>
                    <input type="text" class="form-control" id="lat"
                           placeholder="纬度" ng-model="projectInfo.lat">
                </div>
                <button  class="btn btn-primary" id="locatePoint"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;定位</button>
            </form>
        </div>
    </div>
</div>
