td input{
    border:none;
    text-align: center;
    width: 100%;
}
td,th{
    text-align: center;
}

#pv-direct-cable .rect{
    display: inline-block;
    height: 100px;
    width: 40px;
    border: 2px solid black;
    margin-left: -6px;
    margin-right: -6px;
}
#pv-direct-cable .arrows{
    position: relative;
}
#pv-direct-cable img{
    cursor: pointer;
}

#pv-alternating-cable .rect{
    display: inline-block;
    height: 100px;
    width: 40px;
    border: 2px solid black;
    margin-left: -6px;
    margin-right: -6px;
}
#pv-alternating-cable .arrows{
    position: relative;
}
#pv-alternating-cable img{
    cursor: pointer;
}

#left-information{
    top: 30px;
    position: relative;
}
#map{
    position: relative;
    top: 30px;
}
#data-table{
    position: relative;
    top:30px;
}
#mete-basicinfo{
    position: relative;
    top: 30px;
}
.panel-message{
    width: auto;
    height:429px;
    padding: 10px 10px;
}
#component-angle{
    top:20px;
    position: relative;
}
#table-information{
    height:200px;
}
#line-chart{
    height: 340px;

}
#line-chart-top-div{
    position: relative;
    /*left: 30px;*/
    top: 26px;
}
#table-top-div{
    position: relative;
    top:30px;
}
#blue-line{
    position: relative;
    left: -8px;;
    /*top: 1px;*/
    height: 2px;
    margin: 8px;
    width: 70%;
}

/*将两个标签隐藏起来*/
#user-defined{
    display: none;
}
/*#design-type{
    position: relative;
    left: 30%;
}*/
/*四张图片*/
.cocurrent{
    border: 1px solid black;
    height: 160px;
    position: relative;
    top: 210px;
}
#centralism-group-radio{
    position: relative;
    top: 70px;
}
/*添加直流四张图片*/
/*集中式逆变器*/
#centralized-inverter{
    background: url("#");
    margin: 0 0 0 10px;
}
/*直流汇流箱*/
#cocurrent-combiner{
    background: url("#");
    margin: 0 0 0 110px;
}
/*直流配电柜*/
#DC-power-distribution{
    background: url("#");
    margin: 0 0 0 110px;
}
/*电缆*/
#cocurrent-cable{
    background: url("#");
    margin: 0 0 0 110px;
}
/*三张图片位置*/
.group{
    border: 1px solid black;
    height: 160px;
    position: relative;
    top: 210px;
}
/*#centralism-instrument{*/
    /*position: relative;*/
    /*!*left: 20px;*!*/
/*}*/
/*添加三张交流图片*/
/*组串式逆变器*/
#groups-inverter{
    background: url("#");
    margin: 0 0 0 10px;
}
/*交流汇电箱*/
#AC-combiner{
    background: url("#");
    margin: 0 0 0 110px;
}
/*电缆*/
#group-cable{
    background: url("#");
    margin: 0 0 0 110px;
}

#cen-inverter-pan-select-model{
    height: 200px;
}
#cen-inverter-pan-parameter{
    height: 200px;
}
#cen-inverter-select-model{
    padding: 20px 0 0 40px;
}
#cen-inverter-parameter{
    padding: 0 0 0 40px;
}
#cen-inverter-configuration{
    margin: 0 100px 0 24px;
}
#cen-inverter-bottom-configuration{
    height: 150px;
}
/*两个input标签位置向左移动*/
#cen-inverter-serial-number{
    position: relative;
    left: -10px;
}
#cen-inverter-complexion{
    position: relative;
    left: -10px;
}
#DC-show-type{
   height: 500px;
}
#DC-show-paramenter{
    height: 500px;
}
#direct-current{
    margin: 40px 0 0 0;
}
#distribution-show-type{
    height: 500px;
}
#distribution-show-paramenter{
    height: 500px;
}
#direct-distribution{
    margin: 40px 0 0 0;
}
#direct-pan-cable-configurations{
    height: 400px;
}
#pan-cable-model-parameter{
    height: 400px;
}
#direct-pan-cable-data{
    height: 100px;
}
#direct-cable-configurations{
    position: relative;
    top: 40px;
}
#direct-cable-model-parameter{
    position: relative;
    top: 40px;
}
#div-direct-current-message{
    margin: 10px 0 0 10px;
}
/*组串式逆变器*/
#collection-inverter-parameter{
    margin: 40px 0 0 0;
}
#panel-collection-inverter-selection{
    height: 500px;
}
#panel-collection-inverter-parameter{
    height: 500px;
}
/*#colection-filled-parameter{*/
    /*height: 500px;*/
/*}*/

/*交流线缆*/
#alternating-current-cable{
    margin: 40px 0 0 0;
}
#div-alter-cable-message{
    margin: 20px 0 0 0;
}
#alter-pan-cable-configurations{
    height: 400px;
}
#alter-pan-model-parameter{
    height: 400px;
}
#alter-pan-cable-data{
    height: 150px;
}

/*电网等级设置页面*/
#power-system-grade{
    margin: 100px 0 0 0;
}
.switch-cabinet{
    height: 100px;
    border: 1px solid black;
}
#select-power{
    margin: 40px 0 0 0;
}

/*低压开关柜界面*/
.panel-show-low-message {
    padding: 15px;
    height: 500px;
}
.panel-show-low-parameter{
    height: 500px;
}
.panel-show-low-type{
    height: 500px;
}
#show-low-type{
    padding: 0 10px 0 0;
}
#show-low-parameter{
    padding: 0 10px 0 10px;
}
#show-low-message{
    padding: 0 10px 0 10px;
}
/*升压变压器页面*/
.panel-show-step-up-message{
    padding: 15px;
    height: 500px;
}
.panel-show-step-up-parameter{
    height: 500px;
}
.panel-show-step-up-type{
    height: 500px;
}
#show-step-up-type{
    padding: 0 10px 0 0;
}
#show-step-up-parameter{
    padding: 0 10px 0 10px;
}
#show-step-up-message{
    padding: 0 10px 0 10px;
}
/*将二次升压界面隐藏*/
#show-twice-booting{
    display: none;
    margin: 30px 0 0 0;
}
/*选择升压界面*/
#select-once-or-twice{
    margin: 40px 0 0 0;
}
/*一次升压*/
#show-first-step-up-type{
    padding: 0 10px 0 10px;
}
#show-first-step-up-parameter{
    padding: 0 10px 0 10px;
}
#show-first-step-up-message{
    padding: 0 10px 0 10px;
}
.panel-show-first-step-up-type{
    height: 100px;
}
.panel-show-first-step-up-parameter{
    height: 300px;
}
.panel-show-first-step-up-message{
    padding: 10px 10px;
    height: 100px;
}
.panel-min-default{
    margin: 0 0 10px 0;
}
/*二次升压*/
#show-twice-step-up-type{
    padding: 0 10px 0 10px;
}
#show-twice-step-up-parameter{
    padding: 0 10px 0 10px;
}
#show-twice-step-up-message{
    padding: 0 10px 0 10px;
}
.panel-show-twice-step-up-type{
    height: 100px;
}
.panel-show-twice-step-up-parameter{
    height: 300px;
}
.panel-show-twice-step-up-message{
    padding: 10px 10px;
    height: 100px;
}
/*.contain-panel{*/
    /*padding: 5px 10px;*/
/*}*/