#left-information{
    top:50px;
    /*left: 60px;*/
    position: relative;
}
#map{
    position: relative;
    top: 76px;
    /*left: 10px;*/
}
#data-table{
    position: relative;
    top:70px;
    left: 30px;
}
#mete-basicinfo{
    position: relative;
    top:70px;
    left: 20px;
}
.panel-message{
    width: auto;
    height:429px;
    padding: 10px 10px;
}
#component-angle{
    top:20px;
    position: relative;
}
#table-information{
    height:200px;
}
#line-chart{
    height: 340px;

}
#line-chart-top-div{
    position: relative;
    /*left: 30px;*/
    top: 26px;
}
#table-top-div{
    position: relative;
    top:30px;
}
#blue-line{
    position: relative;
    left: -8px;;
    /*top: 1px;*/
    height: 2px;
    margin: 8px;
    width: 70%;
}

/*将两个标签隐藏起来*/
#user-defined{
    display: none;
}
/*#design-type{
    position: relative;
    left: 30%;
}*/
/*四张图片*/
.cocurrent{
    border: 1px solid black;
    height: 160px;
    position: relative;
    top: 210px;
}
#centralism-group-radio{
    position: relative;
    top: 70px;
}
/*添加直流四张图片*/
/*集中式逆变器*/
#centralized-inverter{
    background: url("#");
    margin: 0 0 0 10px;
}
/*直流汇流箱*/
#cocurrent-combiner{
    background: url("#");
    margin: 0 0 0 110px;
}
/*直流配电柜*/
#DC-power-distribution{
    background: url("#");
    margin: 0 0 0 110px;
}
/*电缆*/
#cocurrent-cable{
    background: url("#");
    margin: 0 0 0 110px;
}
/*三张图片位置*/
.group{
    border: 1px solid black;
    height: 160px;
    position: relative;
    top: 210px;
}
#group-instrument{
    display: none;
}
/*#centralism-instrument{*/
    /*position: relative;*/
    /*!*left: 20px;*!*/
/*}*/
/*添加三张交流图片*/
/*组串式逆变器*/
#groups-inverter{
    background: url("#");
    margin: 0 0 0 10px;
}
/*交流汇电箱*/
#AC-combiner{
    background: url("#");
    margin: 0 0 0 110px;
}
/*电缆*/
#group-cable{
    background: url("#");
    margin: 0 0 0 110px;
}

#cen-inverter-pan-select-model{
    height: 200px;
}
#cen-inverter-pan-parameter{
    height: 200px;
}
#cen-inverter-select-model{
    padding: 20px 0 0 40px;
}
#cen-inverter-parameter{
    padding: 0 0 0 40px;
}
#cen-inverter-configuration{
    margin: 0 100px 0 24px;
}
#cen-inverter-bottom-configuration{
    height: 150px;
}
/*两个input标签位置向左移动*/
#cen-inverter-serial-number{
    position: relative;
    left: -10px;
}
#cen-inverter-complexion{
    position: relative;
    left: -10px;
}
#DC-show-type{
   height: 500px;
}
#DC-show-paramenter{
    height: 500px;
}
#direct-current{
    margin: 40px 0 0 0;
}
#distribution-show-type{
    height: 500px;
}
#distribution-show-paramenter{
    height: 500px;
}
#direct-distribution{
    margin: 40px 0 0 0;
}