
#left-information{
    top:50px;
    /*left: 60px;*/
    position: relative;
}
#map{
    position: relative;
    top: 76px;
    /*left: 10px;*/
}
#data-table{
    position: relative;
    top:70px;
    left: 30px;
}
#mete-basicinfo{
    position: relative;
    top:70px;
    left: 20px;
}
.panel-message{
    width: auto;
    height:429px;
}
#component-angle{
    top:20px;
    position: relative;
}
#table-information{
    height:200px;
}
#line-chart{
    height: 340px;

}
#line-chart-top-div{
    position: relative;
    /*left: 30px;*/
    top: 26px;
}
#table-top-div{
    position: relative;
    top:30px;
}
#blue-line{
    position: relative;
    left: -8px;;
    /*top: 1px;*/
    height: 2px;
    margin: 8px;
    width: 70%;
}

/*将两个标签隐藏起来*/
#user-defined{
    display: none;
}
#design-type{
    position: relative;
    left: 30%;
}