<div class="container" ng-controller="adminCtrl">
    <h3>用户管理</h3>
    <div class="row">
        <div class="col-md-6" style="max-height: 600px;overflow:auto">
            <table class="table table-bordered">
                <tr>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>角色</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="user in users">
                    <td>{{user.username}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.role == 0 ? "管理员" : "普通用户"}}</td>
                    <td><button class="btn btn-link btn-danger" ng-click="deleteUser(user.username)">删除</button></td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-8">
                        <span style="color:red">{{errorInfo}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">用户名</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="user.username">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">密码</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="user.password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">角色</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="user.role">
                            <option value="1" selected>普通用户</option>
                            <option value="0">管理员</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-8">
                        <button class="btn btn-primary btn-block" type="button" ng-click="addUser()">添加用户</button>
                        <button class="btn btn-info btn-block" type="button" ng-click="backToLogin()">返回登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>